.swagger-ui .topbar { display: none }

.swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: #ecb53c;
}

.swagger-ui .opblock.opblock-post {
    background: rgba(204, 173, 73, 0.1);
    border-color: #ecb53c;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #ecb53c;
}

.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
    background: #ecb53c;
}